/*Nav and Footer styling area*/

header > nav.group, body footer {
  width: 95%;
  padding-top: 2rem;
}

nav.group a.active:before{ content:"\0003c\000a0";} /* escaped unicode for the carats and then a space on active menu links*/
nav.group a.active:after{ content:"\000a0\0003e" ;}

header > nav  a{
  font-size: 1.2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  /*color: $contrast-color;*/
  color: #a00000;
  padding-top: 1.5rem;
  text-decoration: none;
  display: inline-block;
  float: left;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 2rem;
  /*margin-left: 1rem;*/
  vertical-align: baseline;
}
header > nav a img{
  height: 5rem;
  position: relative;
  max-width: 100%;
  top:-1.5rem;
}




/* End of Nav and Footer styling area*/
