<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page.title}}</title>
    <!-- mathjax config similar to math.stackexchange -->
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ['$', '$'] ],
        displayMath: [ ['$$', '$$']],
        processEscapes: true,
        displayAlign: 'center',
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
      }
    });
    </script>
<script src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>
<!--script type="text/javascript">
    init_mathjax = function() {
        if (window.MathJax) {
            // MathJax loaded
            MathJax.Hub.Config({
                tex2jax: {
                    inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                    displayMath: [ ['$$','$$'], ["\\[","\\]"] ]
                },
                displayAlign: 'center', // Change this to 'center' to center equations.
            });
            MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
        }
    }
    init_mathjax();
    </script-->
    <link rel="stylesheet" href="{{site.baseurl}}/css/tufte.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/latex.css">
    <!--link rel="stylesheet" href="{{site.baseurl}}/css/syntax.css"-->
    <!--link rel="stylesheet" href="{{site.baseurl}}/css/am207.css"-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="full-width">
  <header>
    <nav class="group">
  	<a href="{{site.baseurl}}/"><img class="badge" src="{{site.baseurl}}/assets/am207-logo.png" alt="CHA"></a>
    {% assign navigation_pages = site.html_pages | sort: 'nav_include' %}
  	{% for node in navigation_pages %}
  		{% if node.nav_include %}
  		    {% if page.url == node.url %}
  		      <a class="active" href="{{node.url | prepend: site.baseurl}}" class="active">{{node.shorttitle}}</a>
  		    {% else %}
  		      <a href="{{node.url | prepend: site.baseurl}}">{{node.shorttitle}}</a>
  		    {% endif %}
  	    {% endif %}
    {% endfor %}
  	</nav>
    {% if page.shorttitle %}
    <h1>{{page.title}}</h1>
    {% endif %}
    {% unless page.noline %}
    <hr/>
    {% endunless %}
  </header>
  <article>
      {{ content }}
      <h2>Notes</h2>
      <ul>
       {% for notename in page.notes %}
        {% for page in site.pages %}
           {% if notename == page.shorttitle %}
           <li>
           <a href="{{site.baseurl}}{{ page.url }}">
           {{ page.title }}
           </a>:
           {% if page.summary != "" %}{{ page.summary }}{% endif %}
           </li>
           {% endif %}
        {% endfor %}
       {% endfor %}
      </ul>
  </article>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </body>
</html>
